Repository LSSTDESC/RAIL: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:

    # Clear output from jupyter notebooks so that only the input cells are committed.
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: Clear output from Jupyter notebooks
        description: Clear output from Jupyter notebooks.
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --clear-output

    # prevents committing directly branches named 'main' and 'master'.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        name: Prevent main branch commits
        description: Prevent the user from committing directly to the primary branch.
      - id: check-added-large-files
        name: Check for large files
        description: Prevent the user from committing very large files.
        args: ['--maxkb=500']

    # verify that pyproject.toml is well formed
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.12.1
    hooks:
      - id: validate-pyproject
        name: Validate pyproject.toml
        description: Verify that pyproject.toml adheres to the established schema.
    # Analyze the src code style and report code that doesn't adhere.
  - repo: local
    hooks:
      - id: pylint
        name: pylint (python files in src/)
        entry: pylint
        language: system
        types: [python]
        files: ^src/
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
    # Analyze the tests code style and report code that doesn't adhere.
  - repo: local
    hooks:
      - id: pylint
        name: pylint (python files in tests/)
        entry: pylint
        language: system
        types: [python]
        files: ^tests/
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]

    # Run unit tests, verify that they pass. Note that coverage is run against
    # the ./src directory here because that is what will be committed. In the 
    # github workflow script, the coverage is run against the installed package
    # and uploaded to Codecov by calling pytest like so:
    # `python -m pytest --cov=<package_name> --cov-report=xml`
  - repo: local
    hooks:
      - id: pytest-check
        name: Run unit tests
        description: Run unit tests with pytest.
        entry: bash -c "if python -m pytest --co -qq; then python -m pytest --cov=./src --cov-report=html; fi"
        language: system
        pass_filenames: false
        always_run: true

Notebook updates
  examples/core_examples/00_Useful_Utilities.ipynb
  examples/core_examples/05_Build_Save_Load_Run_Pipeline.ipynb
  examples/creation_examples/00_Quick_Start_in_Creation.ipynb
  examples/creation_examples/01_Photometric_Realization.ipynb
  examples/creation_examples/10_SOM_Spectroscopic_Selector.ipynb
  examples/estimation_examples/09_PZFlow.ipynb
  examples/goldenspike_examples/Goldenspike.ipynb
Due: jupyter-nb-clear-output

Eac/fix datastore (#189)
  examples/core_examples/00_Useful_Utilities.ipynb
  examples/core_examples/01_FileIO_DataStore.ipynb
  examples/core_examples/05_Build_Save_Load_Run_Pipeline.ipynb
  examples/core_examples/06_Rail_Interfaces.ipynb
  examples/creation_examples/00_Quick_Start_in_Creation.ipynb
  examples/creation_examples/01_Photometric_Realization.ipynb
  examples/creation_examples/05_True_Posterior.ipynb
  examples/creation_examples/10_SOM_Spectroscopic_Selector.ipynb
  examples/estimation_examples/07_NZDir.ipynb
  examples/estimation_examples/09_PZFlow.ipynb
  examples/estimation_examples/10_YAW.ipynb
  examples/estimation_examples/11_SomocluSOM.ipynb
  examples/estimation_examples/12_SomocluSOM_Quality_Control.ipynb
  examples/estimation_examples/15_LePhare_COSMOS.ipynb
  examples/evaluation_examples/00_Single_Evaluation.ipynb
  examples/evaluation_examples/01_Evaluation_by_Type.ipynb
  examples/goldenspike_examples/Goldenspike.ipynb
Due: jupyter-nb-clear-output

examples/core_examples/model_inform_trainz.pkl
  examples/core_examples/model_inform_trainz.pkl
Due: none

fix kernelspec in 14_LePhare_LSST.ipynb
  examples/estimation_examples/14_LePhare_LSST.ipynb
Due: jupyter-nb-clear-output

Eac/model inform trainz (#190)
  examples/core_examples/model_inform_trainz.pkl
  examples/estimation_examples/14_LePhare_LSST.ipynb
Due: jupyter-nb-clear-output

updated bpz notebooks
  examples/estimation_examples/02_BPZ_lite.ipynb
  examples/estimation_examples/03_BPZ_lite_Custom_SEDs.ipynb
Due: jupyter-nb-clear-output

modify flexzboost notebook to a more realistic grid
  examples/estimation_examples/01_FlexZBoost_PDF_Representation_Comparison.ipynb
Due: jupyter-nb-clear-output

correctly set the um lephare config
  examples/estimation_examples/14_LePhare_LSST.ipynb
Due: jupyter-nb-clear-output

fixing kernel for notebook
  examples/estimation_examples/14_LePhare_LSST.ipynb
Due: jupyter-nb-clear-output

udpate installation instructions
  docs/source/installation.rst
Due: none

udpate installation instructions (#195)
  docs/source/installation.rst
Due: none

Update README.md
  README.md
Due: none

Update citing.rst
  docs/source/citing.rst
Due: none

Add method citations
  docs/source/citing.rst
Due: none

Update smoke-test-head.yml
  .github/workflows/smoke-test-head.yml
Due: none

adding a short paragraph on how to configure input catalogues for a single stage
  docs/source/catalog_tags.rst
Due: none

modifying the text
  docs/source/catalog_tags.rst
Due: none

wording
  docs/source/catalog_tags.rst
Due: none

add demo nb with overrides
  examples/estimation_examples/15_Running_with_different_data.ipynb
Due: jupyter-nb-clear-output

wrong name for nb
  examples/estimation_examples/16_Running_with_different_data.ipynb
Due: jupyter-nb-clear-output

add somoclu install to action
  .github/workflows/smoke-test.yml
Due: none

add somoclu conda install
  .github/workflows/smoke-test-head.yml
Due: none

add somoclu to linting and testing/coverage
  .github/workflows/linting.yml
  .github/workflows/testing-and-coverage.yml
Due: none

Added formatters to pre-commit
  .pre-commit-config.yaml
Due: none

Document use of formatters in `contributing.rst`
  docs/source/contributing.rst
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Run pre-commit formatting
  .github/ISSUE_TEMPLATE/0-general_issue.md
  .github/workflows/build_documentation.yml
  .github/workflows/publish-to-pypi.yml
  docs/_static/css/notebooks.css
  docs/conf.py
  docs/nbconvert-requirements.txt
  docs/source/contributing.rst
  docs/source/creation_degrader_algos.rst
  docs/source/demonstrations.rst
  docs/source/new_algorithm.rst
  examples/core_examples/cleanup.sh
  examples/creation_examples/04_Plotting_interface_skysim_cosmoDC2_COSMOS2020.ipynb
  examples/creation_examples/07_DSPS_SED.ipynb
  examples/creation_examples/08_FSPS_SED.ipynb
  examples/estimation_examples/12_SomocluSOM_Quality_Control.ipynb
  examples/estimation_examples/cleanup.sh
  examples/evaluation_examples/cleanup.sh
  examples/evaluation_examples/utils.py
  examples/goldenspike_examples/cleanup.sh
  examples/goldenspike_examples/cleanup_pipeline.sh
  examples/goldenspike_examples/goldenspike.yml
  examples/goldenspike_examples/goldenspike_config.yml
  requirements.txt
  setup.py
  tests/hub/test_import.py
Due: jupyter-nb-clear-output, pylint

Document `entrypoint_function`
  docs/source/new_rail_stage.rst
Due: none

Format documentation
  docs/index.rst
  docs/source/catalog_tags.rst
  docs/source/citing.rst
  docs/source/contributing.rst
  docs/source/creation_degrader_algos.rst
  docs/source/creation_engine_algos.rst
  docs/source/data_handles.rst
  docs/source/demonstrations.rst
  docs/source/documentation.rst
  docs/source/estimators.rst
  docs/source/fix_an_issue.rst
  docs/source/installation.rst
  docs/source/new_algorithm.rst
  docs/source/new_rail_stage.rst
  docs/source/overview.rst
  docs/source/pipelines.rst
  docs/source/sharing_pipeline.rst
  docs/source/stages.rst
  docs/source/summarizers.rst
Due: none

Re-order pre-commit hooks, fix isort/black compat
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Format pyproject.toml
  pyproject.toml
Due: none

try removing som to see what else fails, this is temporary
  pyproject.toml
Due: none

second try
  pyproject.toml
Due: none

remove som again
  pyproject.toml
Due: none

update fzboost notebook vals
  examples/estimation_examples/00_Quick_Start_in_Estimation.ipynb
  examples/estimation_examples/01_FlexZBoost_PDF_Representation_Comparison.ipynb
Due: jupyter-nb-clear-output

editing notebooks so that they don't use DataStore explicitly anymore
  examples/estimation_examples/11_SomocluSOM.ipynb
  examples/goldenspike_examples/Goldenspike.ipynb
Due: jupyter-nb-clear-output

making updates to (mostly) core_examples notebooks so they run with the new temporary DataStore
  examples/core_examples/00_Useful_Utilities.ipynb
  examples/core_examples/02_FluxtoMag_and_Deredden.ipynb
  examples/core_examples/03_Hyperbolic_Magnitude.ipynb
  examples/core_examples/04_Iterate_Tabular_Data.ipynb
  examples/core_examples/05_Build_Save_Load_Run_Pipeline.ipynb
  examples/creation_examples/00_Quick_Start_in_Creation.ipynb
  examples/creation_examples/08_FSPS_SED.ipynb
Due: jupyter-nb-clear-output

first try
  .github/workflows/smoke-test-head.yml
Due: none
